.scroll-container {
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    position: absolute;
}

section {
    height: 100%;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snap {
    height: 100%;
    width: 100%;
}

.fullArea {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hs1-layer1 {
    z-index: 1;
    position: absolute;
    background-image: url("../../images/home/3l1.png");
}

#pic11 {
    animation: boat1 10s ease-in-out infinite;
    transform: translateY(-30px);
    height: calc(100vh + 30px);
}

@keyframes boat1 {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-30px);
    }
}

.hs1-layer2 {
    z-index: 2;
    position: absolute;
    background-image: url("../../images/home/3l2.png");
}

#pic12 {
    animation: boat2 10s ease-in-out infinite;
    transform: translate(-10px, -10px);
    height: calc(100vh + 10px);
    width: calc(100vw + 10px);
}

@keyframes boat2 {
    0% {
        transform: translate(-10px, -10px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(-10px, -10px);
    }
}

.hs2-layer1 {
    z-index: 3;
    position: absolute;
    background-image: url("../../images/home/1l1.png");
}

#pic21 {
    animation: taj1 20s ease-in-out infinite;
    transform: translateX(0px);
    width: calc(100vw + 40px);
}

@keyframes taj1 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0px);
    }
}

.hs2-layer2 {
    z-index: 4;
    position: absolute;
    background-image: url("../../images/home/1l2.png");
}

#pic22 {
    animation: taj2 20s ease-in-out infinite;
    transform: translateX(0px);
    width: calc(100vw + 70px);
    background-position: right!important;
}

@keyframes taj2 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-70px);
    }
    100% {
        transform: translateX(0px);
    }
}

.hs3-layer1 {
    z-index: 5;
    position: absolute;
    background-image: url("../../images/home/2l1.png");
    background-position: left!important;
}

#pic31 {
    animation: dark1 30s ease-in-out infinite;
    transform: translateX(-90px);
    width: calc(100vw + 90px);
    background-position: left!important;
}

@keyframes dark1 {
    0% {
        transform: translateX(-90px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-90px);
    }
}

.hs3-layer2 {
    z-index: 6;
    position: absolute;
    background-image: url("../../images/home/2l2.png");
    background-position: left!important;
}

#pic32 {
    animation: dark2 30s ease-in-out infinite;
    transform: translateX(0px);
    background-position: left!important;
}

@keyframes dark2 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}
#mag-container{
    background-image: -webkit-linear-gradient(#040404,#5c094d);
    /* background-color: #040404; */
}
.hs1-layer3 {
    z-index: 3;
    position: absolute;
    background-image: url("../../images/home/l3.png");
}

.hs1-layer4 {
    z-index: 4;
    position: absolute;
    width: 45%;
    right: 25%;
    height: 65%;
    background-image: url("../../images/home/layer-4.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.hs1-layer5 {
    z-index: 5;
    position: absolute;
    background-image: url("../../images/home/layer-5.png");
}

.hs1-layer6 {
    z-index: 6;
    position: absolute;
    background-image: url("../../images/home/layer-6.png");
}

.hs1-layer7 {
    z-index: 7;
    position: absolute;
    width: 45%;
    right: 25%;
    height: 65%;
}

.l4-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
}
.special{
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    z-index: 99;
    line-height: 60px;
    color: #a31c1e;
    
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5c094d;
  width: 95%;
  text-align: center;
}
.main-head{
    top: 20vh;
}
.sub-head{
    font-size: 62px;
    width: max-content;
    height: max-content;
    position: relative!important;
}
.date{
    position: absolute;
    z-index: 99;
    top: 25%;
    left: 10%;
    padding: 40px;
    width: max-content;
    height: max-content;
    border-radius: 20px;
}
.venue{
    text-align: center;
    color: #a31c1e;
    
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5c094d;
    font-size: 24px;
    border-top: 2px solid #5c094d;
    border-bottom: 2px solid #5c094d;
    padding: 10px 40px 10px 40px;
}
.empty{
    height: 30px;
}
.wish{
    position: absolute;
    z-index: 99;
    bottom: 10%;
    right: 10%;
    padding: 40px;
    width: max-content;
    height: max-content;
    border-radius: 20px;
}
.wish-msg{
    color: #ff3f92;
}